body {
    text-align: center;
    background-color: #8e9595;
}

header {
    margin-top: 0;
    padding: 0;
    background-color: cornflowerblue;
    font-size: large;
}

main {
    font-size: large;
    font-family: sans-serif;
    background-color: rgba(145, 246, 213, 0.35);
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 500px;
    padding-right: 500px;
    border: #015050 8px solid;
}

#resetBtn {
    background-color: red;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#guessBtn {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

#feedback {
    padding: 15px 150px;
}